---
import Instagram from "./icons/instagram.astro";
import Youtube from "./icons/youtube.astro";
import Twitch from "./icons/twitch.astro";
---
<footer>
    <nav>
        <li><a href=""><Instagram/a></li>
            <li><a href=""><Youtube/a></li>
            <li><a href=""><Twitch/a></li>
            <li><a href=""></a></li>
    </nav>
  
    <style>
      footer {
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

  nav{
    width: fit-content;
padding: 16px;
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
  }

  
    
    </style>
  </footer>